<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=drive-width,initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="stylesheet" href="../static/css/login.css" th:href="@{/css/login.css}">
<!-- font-awesome 图标字体 http://www.fontawesome.com.cn/faicons/#web-application -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" media="screen" rel="stylesheet" type="text/css">
<title>登录</title>
</head>
    <div id="login-box">
        <h1>Login</h1>
        <form class="ui large form" method="post" action="#" th:action="@{/login}">
            <div class="item">
                <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                <input type="text" name="username"  placeholder="Username">
            </div>
            <div class="item">
                <i class="fa fa-key" aria-hidden="true"></i>
                <input type="password"  name="password" placeholder="Password">
            </div>
            <button>Login</button>
        </form>

    </div>
<body>
</body>
</html>